div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 30vw;
  height: 25vh;
  max-width: 30vw;
  float: left;
  perspective: 500px;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 1s;
  transform-style: preserve-3d;
}

/* .card:hover .content {
  transform: rotateY(180deg);
  transition: transform 0.5s;
} */

.rotate {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  color: #03446a;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vh;
  border-radius: 5px;
  backface-visibility: hidden;
}

.back {
  background: #f1f2eb;
  /* background: #696773; */
  color: white;
  transform: rotateY(180deg);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}
