.grid {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat(3, 2fr);
  grid-row-gap: 1vh;
  grid-column-gap: 1vw;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
